.ol-scale-bar {
  bottom: 58px !important;
  left: 46px !important;
}
.ol-scale-singlebar-odd {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.ol-scale-singlebar-even {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
